body{
    background-color: rgba(156, 225, 235, 0.664);
}
input{
    text-transform: uppercase;
}
td{
    text-transform: uppercase;
}
img{
    width: 200px;
}

@media (max-width:767px){
    input{
      margin-bottom: 2%;  
    }
    tr{
        font-size: 10px;
    }
    img{
        width: 100px;
        
    }
    h1{
        font-size: 20px;
        margin-top: 10px;
    }
    buttom{
        width: 200px;
    }
}